{% extends 'base.html.twig' %}

{% block title %}Student List
{% endblock %}

{% block body %}


	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">
						<h1>Students</h1>
					</div>

					<div class="card-body">
						List order by:
						<form action="{{path('student_index')}}" method="GET" lass="sort-form  ">
							<div class="form-group">
								<select name="sort" class="form-control">
									<option value="default">default</option>
									<option value="name_az" {% if sortBy =='name_az'%} selected {% endif %}>NAME A-Z</option>
									<option value="name_za" {% if sortBy =='name_za'%} selected {% endif %}>NAME Z-A</option>
									<option value="surname_az" {% if sortBy =='surname_az'%} selected {% endif %}>SURNAME A-Z</option>
									<option value="surname_za" {% if sortBy =='surname_za'%} selected {% endif %}>SURNAME Z-A</option>
								</select>
							</div>
							<button type="submit" class="btn btn-dark">Sort IT!</button>
							<a href="{{path('student_index')}}">CLEAR</a>
						</form>
						<ul class="list-group">
							{% for student in students %}
								<li class="container list-group-item">
									<div class="row list-group-item__line">
										<div class="col-sm">
											{{student.name}}
											{{student.surname}}
										</div>
										<div class="col-sm">
											{{student.email}}
										</div>
										<div class="col-sm">
											{{student.phone}}
										</div>
										<div class="btn-group list-group-item__line__buttons" role="group" aria-label="Basic example">
											<a href="{{path('student_edit', {id:student.id})}}" class="btn btn-success">EDIT</a>
											<form action="{{path('student_delete', {id:student.id})}}" method="POST">
												<button type="submit" class="btn btn-danger">DELETE</button>
											</form>
										</div>
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
