{% extends 'base.html.twig' %}

{% block title %}Student List
{% endblock %}

{% block body %}


	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">
						<h1>Students ✅</h1>
					</div>

					<div class="card-body">
						List order by:
						<form action="{{path('student_index')}}" method="GET" lass="sort-form  ">
							<div class="form-group">
								<select name="sort" class="form-control">
									<option value="default">default</option>
									<option value="name_az" {% if sortBy =='name_az'%} selected {% endif %}>name</option>
									<option value="name_za" {% if sortBy =='name_za'%} selected {% endif %}>name reverse</option>
									<option value="surname_az" {% if sortBy =='surname_az'%} selected {% endif %}>surname</option>
									<option value="surname_za" {% if sortBy =='surname_za'%} selected {% endif %}>surname reverse</option>
								</select>
							</div>
							<button type="submit" class="btn btn-dark">Sort IT!</button>
							<a href="{{path('student_index')}}">CLEAR</a>
						</form>
						<ul class="list-group">
							{% for student in students %}
								<li class="list-group-item">
									<div class="list-group-item__line">
										<span>
											{{student.name}}
											{{student.surname}}
											{{student.email}}
											{{student.phone}}
											{# {% for grade in student.grades %}
												<div class="books">
													{{grade.lecture.title}}
													{{grade.grade}}
												</div>
											{% endfor %} #}
										</span>
										<div class="list-group-item__line__buttons">
											<a href="{{path('student_edit', {id:student.id})}}" class="btn btn-success">EDIT</a>
											<form action="{{path('student_delete', {id:student.id})}}" method="POST">
												<button type="submit" class="btn btn-danger">DELETE</button>
											</form>
										</div>
									</div>
									{# <h4>
																												<span class="badge badge-secondary">Author books</span>
																											</h4>
																											<ul class="list-group">
																												{% for book in author.books %}
																													<li class="list-group-item">{{book.title}}</li>
																												{% endfor %}
																											</ul> #}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

