{% extends 'base.html.twig' %}

{% block title %}Lectures list
{% endblock %}

{% block body %}
	<h1>List of Lectures</h1>
	<div class="hero-bg"></div>
	<div class="menu">
		<a class="nav" href="{{path('grade_index')}}">Grade list</a>
		<a class="nav" href="{{path('grade_create')}}">New Grade</a>
		<a class="nav checked" href="{{path('lecture_index')}}">Lecture list</a>
		<a class="nav" href="{{path('lecture_create')}}">New Lecture</a>
		<a class="nav" href="{{path('student_index')}}">Student list</a>
		<a class="nav" href="{{path('student_create')}}">New Student</a>
	</div>
	<div class="container author">
		<div class="sort">
			<p>List order by:</p>
			<form action="{{path('lecture_index')}}" method="GET">
				<select name="sort">
					<option value="default">Default</option>
					<option value="title_az" {% if sortBy =='title_az'%} selected {% endif %}>TITLE A-Z</option>
					<option value="title_za" {% if sortBy =='title_za'%} selected {% endif %}>TITLE Z-A</option>
				</select>
				<button type="submit">Sort</button>
			</form>
			<a href="{{path('lecture_index')}}">Clear sort</a>
		</div>
		<ul class="author-list">
			{% for lecture in lectures %}
				<div class="students">
					<div class="left">
						<div class="preview author"></div>
					</div>
					<div class="right">
						<div class="lecture_title">{{lecture.title}}</div>
						{% for grade in lecture.grades %}
							<div class="books lecture" style="display:inline;">{{grade.grade}}</div>
						{% endfor %}
						<div class="buttons author">
							<a class="edit-btn" href="{{path('lecture_edit', {id: lecture.id})}}">Edit</a>
							<form action="{{path('lecture_delete', {id:lecture.id})}}" method="POST">
								<button class="submit-btn" type="submit">Delete</button>
							</form>
						</div>
					</div>
				</div>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
