{% extends 'base.html.twig' %}

{% block title %}Grades list
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">
						<h1>Grades</h1>
					</div>
					<div class="card-body">
						List order by:
						<form action="{{path('grade_index')}}" method="GET">
							<select name="student_id" class="form-control">
								<option value="0">View all</option>
								//TODO: filter kad pasiliktų studentas išfiltruotas kaip selected
								{% for student in students %}
									<option value="{{student.id}}">{{student.name}}
										{{student.surname}}</option>
								{% endfor %}
							</select>
							<button type="submit" class="btn btn-dark">Filter</button>
						</form>
						<a href="{{path('grade_index')}}">Clear filter</a>
						<ul class="book-list">
							{% if grades is empty %}
								<p>There are no grades to show for selected student.</p>
							{% endif %}
							{% for grade in grades %}
								<li class="container list-group-item">
									<div class="row list-group-item__line">
										<div class="col-sm">
											{{grade.student.name}}
											{{grade.student.surname}}
										</div>
										<div class="btn-group list-group-item__line__buttons" role="group" aria-label="Basic example">
											<a href="{{path('student_edit', {id:grade.id})}}" class="btn btn-secondary">EDIT</a>
											<form action="{{path('student_delete', {id:grade.id})}}" method="POST">
												<button type="submit" class="btn btn-primary">DELETE</button>
											</form>
										</div>
									</div>
									<h4>
										<span class="badge badge-secondary">Lecture</span>
									</h4>
									<ul class="list-group">
										{% for lecture in lectures %}
											<li class="list-group-item">
												{{lecture.title}}
												Grade:
												{{grade.grade}}
											</li>
										{% endfor %}
									</ul>
								</li>
							{% endfor %}
						</li>
					</ul>
				</div>
			{% endblock %}
