{% extends 'base.html.twig' %}

{% block title %}Grades list{% endblock %}

{% block body %}
    <h1>Grades</h1>
    <div class="hero-bg"></div>
    <div class="menu">
        <a class="nav checked" href="{{path('grade_index')}}">Grade list</a>
        <a class="nav" href="{{path('grade_create')}}">New Grade</a>
        <a class="nav" href="{{path('lecture_index')}}">Lecture list</a>
        <a class="nav" href="{{path('lecture_create')}}">New Lecture</a>
        <a class="nav" href="{{path('student_index')}}">Student list</a>
        <a class="nav" href="{{path('student_create')}}">New Student</a>
    </div>
    <div class="container">
        <div class="filter">
            <p>Filter list by:</p>
            <form action="{{path('grade_index')}}" method="GET">
                <select name="student_id">
                    <option value="0">View all</option>
                    //TODO: filter kad pasiliktų studentas išfiltruotas kaip selected
                    {% for student in students %}
                        <option value="{{student.id}}">{{student.name}} {{student.surname}}</option>
                    {% endfor %}
                </select>
                <button type="submit">Filter</button>
            </form>
            <a href="{{path('grade_index')}}">Clear filter</a>
        </div>
        <ul class="book-list">
            {% if grades is empty %}
            <p>There are no grades to show for selected student.</p>
            {% endif %}
            {% for grade in grades %}
                <div class="book">
                    <div class="preview book"></div>
                    <p class="name">
                    {{grade.student.name}} {{grade.student.surname}} {{grade.lecture.title}}
                    </p>
                    <p class="title">Grade: {{grade.grade}}</p>
                    <div class="buttons">
                        <a class="edit-btn" href="{{path('grade_edit', {id: grade.id})}}">Edit</a>
                        <form action="{{path('grade_delete', {id:grade.id})}}" method="POST">
                            <button class="submit-btn" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

