{% extends 'base.html.twig' %}

{% block title %}Grade List
{% endblock %}

{% block body %}


	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">
						<h1>Grades</h1>
					</div>

					<div class="card-body">
						List filter by:
						<form action="{{path('grade_index')}}" method="GET">
							<select name="student_id" class="form-control">
								<option value="0">View All</option>
								{% for student in students %}
									<option value="{{student.id}}" {% if studentId == student.id %} selected {% endif %}>{{student.name}}
										{{student.surname}}</option>
								{% endfor %}
							</select>
							<button type="submit" class="btn btn-dark">Filter IT!</button>
						</form>
						<a href="{{path('grade_index')}}">CLEAR</a>
						<div class="table-responsive-sm">
							<table class="table">
								<thead class="thead-dark">
									<tr>
										<th scope="col">Student Name</th>
										<th scope="col">Lecture</th>
										<th scope="col">Grade</th>
										<th scope="col"></th>
									</tr>
								</thead>
								{% for grade in grades %}
									<tbody>
										<tr>
											<td>
												{{grade.student.name}}
												{{grade.student.surname}}
											</td>
											<td>
												{{grade.lecture.title}}
											</td>
											<td>
												{{grade.grade}}
											</td>
											<td class="list-group-item__line__buttons" role="group" aria-label="Basic example">
												<a class="btn btn-secondary" href="{{path('grade_edit', {id: grade.id})}}">Edit</a>
												<form action="{{path('grade_delete', {id:grade.id})}}" method="POST">
													<button class="btn btn-primary" type="submit">Delete</button>
												</form>
											</td>
										</tr>
									</tbody>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
